/* styles.css */

.top-banner {
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
}

.header {
    background-color: brown;
    text-align: center;
}

.pictures {
    background-color: blue;
    text-align: center;
    padding: 20px;
}

.description {
    background-color: blue;
    text-align: center;
    padding: 20px;
}

.quote {
    background-color: yellowgreen;
    text-align: center;
    padding: 20px;
}

.action {
    background-color: pink;
    text-align: center;
    padding: 20px;
}

.bottom-banner {
    background-color: orangered;
    text-align: center;
    padding: 20px;
}